/* Created by: Johanna Liu
 * Created on: Mar 2022
 * This CSS file defines the style for index.html ICS2O-Assignment-2-JS
*/

body {
  background-color: lavender;
}

h2 {
  background-color: rgb(216 191 216);
  color: hsl(0deg 0% 0%);
  padding: 10px;
  text-align: center;
}

h3 {
  background-color: rgb(216 191 216);
  color: hsl(0deg 0% 0%);
  padding: 10px;
  text-align: center;
}

p {
  background-color: #D8BFD8;
}
